/** FONTS **/
@font-face { font-family: "ProximaNova"; src: url("../fonts/ProximaNova-Regular.otf"); }
@font-face { font-family: "ProximaNovaLt"; src: url("../fonts/ProximaNova-Light.otf"); }
@font-face { font-family: "ProximaNovaBd"; src: url("../fonts/ProximaNova-Semibold.otf"); }

html, body {
  transition: background-color 0.2s, color 0.2s;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: ProximaNova, Arial, sans-serif;
  font-size: 20px;
  text-align: center;

  --board-width: 400px;
}

#container {
  transition: left 0.5s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'ProximaNovaBd', Arial;
  font-weight: bold;
  font-size: 2em;
}

#timer {
  position: fixed;
  top: 0.5em;
  right: 0.5em;
  font-family: 'ProximaNovaBd', Arial;
  font-weight: bold;
  font-size: 1.5em;
}

#toaster {
  transition: max-height 0.5s;
  cursor: pointer;
  overflow: hidden;
  position: fixed;
  top: -2px;
  max-height: 0; 
  color: #595959;
  border-radius: 3px;
}

#toasterMessage {
  margin: 0.5em 1em;
}

#toaster[data-state='error'] {
  border: solid 1px #ef8166;
  background-color: #fce6e1;
}

#toaster[data-state='success'] {
  border: solid 1px #6eba83;
  background-color: #e2f1e6;
}

#board {
  transition: background-color 0.2s, border-color 0.2s;
  width: var(--board-width);
  height: var(--board-width);
  margin: 1em 0;
  border-style: solid;
  border-width: 2px;
}

.board-row {
  overflow: hidden;
}

.cell {
  transition: color 0.2s, border-color 0.2s;
  cursor: pointer;
  position: relative;
  user-select: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  width: calc(var(--board-width) / 9);
  height: calc(var(--board-width) / 9);
  font-family: Arial;
  font-size: 1.2em;
  color: #ff5593;
  border-style: solid;
  border-width: 1px;
  border-top: none;
  border-left: none;
  box-sizing: border-box;
}

.cell.constant {
  /* color: #fff; */
}

.cell::before {
  transition: background-color 0.2s;
  /* transition: opacity 0.2s; */
  position: absolute;
  display: block;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
}

.cell:hover::before {
  opacity: 0.1;
}

.cell[data-has-error='true'] {
  background-color: #f00;
  color: #fff;
}

.cell[highlighted='true']::before {
  background-color: #ff5593 !important;
  opacity: 0.3;
}

.cell[active='true']::before,
.cell:active::before {
  opacity: 0.3;
}

.cell[data-row="3"],
.cell[data-row="6"] {
  border-bottom-width: 3px;
}

.cell[data-col="3"],
.cell[data-col="6"] {
  border-right-width: 3px;
}

.cell[data-row='9'] {
  border-bottom: none;
}

.cell[data-col='9'] {
  border-right: none;
}

.cell-value {
  pointer-events: none;
  position: absolute;
}

.cell-annotations {
  pointer-events: none;
  overflow: hidden;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  font-size: 0.5em;
}

.cell-annotation {
  visibility: hidden;
  width: 33%;
}

#controlButtons {
  overflow: hidden;
  position: fixed;
  top: 0.5em;
  left: 0.5em;
}

#controlButtons > button {
  float: left;
  width: auto;
}

#pane,
#help {
  transition: left 0.5s, opacity 0.5s, background-color 0.2s, border-color 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: -340px;
  width: 320px;
  height: 100%;
  padding: 1em;
  opacity: 0;
  border-right-style: solid;
  border-right-width: 1px;
  box-sizing: border-box;
  box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.2);
}

#pane[data-state='open'],
#help[data-state='open'] {
  left: 0;
  opacity: 1;
}

#pane h2,
#help h2 {
  margin: 1em;
  font-family: 'ProximaNovaBd', Arial;
  font-weight: bold;
  font-size: 1.5em;
}

#pane .divider,
#help .divider {
  width: 100%;
  height: 1px;
  margin: 1em 0;
  background-color: #47586b;
}

#pane input,
#pane button,
#pane select,
#help input,
#help button,
#help select {
  width: 100%;
  margin-bottom: 0.5em;
}

#help {
  width: 420px;
  left: -440px;
  align-items: flex-start;
}

#help h2 {
  margin: 0;
}

#help > .help-line {
  display: block;
  width: 100%;
  padding: 0.25em 0.25em;
  text-align: left;
  box-sizing: border-box;
}

#help > .help-line:nth-child(even) {
  background-color: #fff;
}

#help > .help-line > .help-label {
  display: inline-block;
  width: 6em;
  margin-right: 1em;
  font-family: 'ProximaNovaBd', Arial;
  font-weight: bold;
}

#help > .help-line > .help-value {
  display: inline-block;
}

button {
  transition: color 0.2s;
  overflow: hidden;
  position: relative;
  outline: none;
  cursor: pointer;
  width: 8em;
  height: 2em;
  line-height: 2em;
  font-family: 'ProximaNovaBd', Arial;
  font-weight: bold;
  font-size: 1em;
  background-color: #c51f5c;
  color: #fff;
  border-radius: 3px;
  border: none;
  box-sizing: border-box;
}

button.secondary {
  transition: color 0.2s;
}

button::before {
  transition: opacity 0.2s;
  position: absolute;
  display: block;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

button:hover::before {
  opacity: 0.3;
}

button:active::before {
  opacity: 0.1;
}

select {
  transition: background-color 0.2s, color 0.2s;
  outline: none;
  cursor: pointer;
  width: 12em;
  height: 2em;
  line-height: 2em;
  font-family: 'ProximaNovaBd', Arial;
  font-weight: bold;
  font-size: 1em;
  border-radius: 3px;
  border: none;
  box-sizing: border-box;
}

input {
  transition: background-color 0.2s, color 0.2s;
  outline: none;
  width: 12em;
  height: 2em;
  padding: 0 0.5em;
  line-height: 2em;
  font-family: 'ProximaNovaBd', Arial;
  font-weight: bold;
  font-size: 1em;
  border-radius: 3px;
  border: none;
  box-sizing: border-box;
}

#clipboardInput {
  position: fixed;
  top: -1000px;
  left: -1000px;
}